suworks.me {
    reverse_proxy frontend:8080
    header {
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline' https://bootstrapcdn.com https://fonts.googleapis.com; script-src 'self' 'unsafe-inline' https://bootstrapcdn.com; font-src 'self' https://gstatic.com; img-src 'self' data:;"
    }
}

www.suworks.me {
    redir https://suworks.me{uri} permanent
}
